$mdc-theme-primary: #fcb8ab;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

$stepper-color-connector: cornflowerblue;

@import "react-material-stepper/src/index.scss";
@import "material-components-web/material-components-web";

.mdc-text-field {
  & + & {
    margin-left: 20px;
  }
}