@import "./stepper";
@import "@material/typography/mdc-typography";

.stepper {
  @include mdc-typography(body1);

  &__content {
    padding: 24px 24px 0 24px;

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
    }
  }
}