@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-blue-500;
$mdc-theme-secondary: #feeae6;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import "@material/linear-progress/mdc-linear-progress";

$font_scale: 1;

$color_success: $material-color-green-500 !default;
$color_error: $material-color-red-500 !default;

$head_size: 24px;
$head_height: 72px;

.stepper {
  @include mdc-typography-base();

  background: mdc-theme-prop-value(surface);
  border: 1px solid $material-color-grey-500;
  box-shadow: 0 0 2px 2px $material-color-grey-400;
  border-radius: 3px;
  overflow: hidden;

  &__progress {
    position: absolute;
  }

  &__header {

    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: $color_background;
    justify-content: space-between;
    height: $head_height;
    box-shadow: 0 4px 4px -4px $material-color-grey-400;

    &__connector {
      border: 0;
      height: 0;
      border-top-width: 1px;
      border-top-style: solid;
      flex: auto;
      min-width: 32px;
      margin: 0 -12px;
      color: $material-color-grey-400;
    }
  }

  &__head {
    @include mdc-typography(subtitle1);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    height: $head_height;
    border: 0;
    background-color: transparent;
    color: mdc-theme-prop-value(text-secondary-on-light);
    padding: 0 24px;

    &:not(&--disabled) {
      cursor: pointer;

      &:hover{
        background-color: rgba(black, 6%);
      }
    }

    &__icon {
      width: 14px * $font_scale;
      height: 14px * $font_scale;
    }


    &--loading &__index {
      background: darken(mdc-theme-prop-value(primary), 10%) !important;
    }

    &--active {
      color: mdc-theme-prop-value(text-primary-on-light);
      font-weight: 500;
    }

    &--active &__index {
      background: $mdc-theme-primary;
    }

    &--disabled &__index {
      background: $material-color-grey-400;
    }

    &--completed &__index {
      background: $color_success;
    }

    &--error {
      color: $color_error;
    }
    &--error &__index {
      background: transparent;
    }
    &--error &__icon {
      width: 24px * $font_scale;
      height: 24px * $font_scale;
      svg {
        fill: $color_error;
      }
    }

    &__index {
      @include mdc-typography(caption);

      background: rgba(black, 38%);
      color: mdc-theme-prop-value(text-primary-on-dark);
      width: $head_size;
      height: $head_size;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
}
