@import "@material/theme/color-palette";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import "@material/linear-progress/mdc-linear-progress";

$stepper_circle_size: 24px !default;
$stepper_color_success: $material-color-green-500 !default;
$stepper_header_height: 72px !default;
$stepper_padding: 24px !default;

.stepper {
  @include mdc-typography-base();

  background: mdc-theme-prop-value(surface);
  border: 1px solid $material-color-grey-500;
  box-shadow: 0 0 2px 2px $material-color-grey-400;
  border-radius: 3px;
  overflow: hidden;
  position: relative;

  &__progress {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $stepper_header_height;
    box-shadow: 0 4px 4px -4px $material-color-grey-400;

    &__connector {
      border: 0;
      height: 0;
      border-top-width: 1px;
      border-top-style: solid;
      flex: auto;
      min-width: 32px;
      margin: 0 -12px;
      color: $material-color-grey-400;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    height: $stepper_header_height;
    border: 0;
    background-color: transparent;
    color: mdc-theme-prop-value(text-secondary-on-light);
    padding: 0 $stepper_padding;

    &:not(&--disabled) {
      cursor: pointer;

      &:hover {
        background-color: rgba(black, 0.06);
      }
    }

    &__icon {
      width: 14px;
      height: 14px;
    }

    &--active {
      color: mdc-theme-prop-value(text-primary-on-light);
      font-weight: 500;
    }

    &--active &__index {
      background: $mdc-theme-primary;
    }

    &--disabled &__index {
      background: mdc-theme-prop-value(text-disabled-on-light);
    }

    &--completed &__index {
      background: $stepper_color_success;
    }

    &--error {
      color: mdc-theme-prop-value(error);
    }

    &--error &__index {
      background: transparent;
    }

    &--error &__icon {
      width: $stepper_circle_size;
      height: $stepper_circle_size;

      svg {
        fill: mdc-theme-prop-value(error);
      }
    }

    &__index {
      @include mdc-typography(caption);

      background: mdc-theme-prop-value(text-hint-on-light);
      color: mdc-theme-prop-value(text-primary-on-dark);
      width: $stepper_circle_size;
      height: $stepper_circle_size;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 8px;

      svg {
        fill: mdc-theme-prop-value(text-primary-on-dark);
      }
    }

    &__title {
      @include mdc-typography(subtitle1);
      line-height: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__title > &__description {
      @include mdc-typography(caption);
      color: mdc-theme-prop-value(text-secondary-on-light);
    }

    &--error &__title > &__description {
      color: mdc-theme-prop-value(error);
    }
  }
}
