@import "@material/button/mdc-button";

.stepper {
  .stepper__action {
    &.mdc-button--unelevated {
      color: mdc-theme-prop-value(text-primary-on-dark);
    }

    &:not([disabled]) {
      cursor: pointer;
    }

    + .stepper__action {
      margin: 0;
      margin-right: 12px;
    }

    &.mdc-button-align--right {
      margin-left: auto;

      + .mdc-button-align--right {
        margin: 0;
        margin-left: 12px;
      }
    }
  }
}
