<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>React stepper</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <style>
      html {
        background: lightgrey;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="../node_modules/react/umd/react.development.js"></script>
    <script src="../node_modules/react-dom/umd/react-dom.development.js"></script>
  </body>
</html>
