@import './vars';

@import "@material/typography/mdc-typography";
@import "@material/linear-progress/mdc-linear-progress";

.stepper {
  $stepper: &;
  @include mdc-typography-base();

  background: $stepper-color-background;
  border: 1px solid $stepper-color-border;
  box-shadow: 0 0 2px 2px $stepper-color-shadow;
  border-radius: $stepper-border-radius;
  overflow: hidden;
  position: relative;
  display: flex;

  &__progress {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__connector {
    border: 0;
    height: 0;
    width: 0;
    border: 0 none;
    flex: auto;
    color: $stepper-color-connector;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px -4px $stepper-color-shadow;
  }

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    border: 0;
    background-color: transparent;
    color: mdc-theme-prop-value(text-secondary-on-light);
    padding: 0 $stepper-padding;

    &:not(&--disabled) {
      cursor: pointer;

      &:hover {
        background-color: $stepper-color-hover;
      }
    }

    &__icon {
      width: 14px;
      height: 14px;
    }

    &--active {
      color: mdc-theme-prop-value(text-primary-on-light);
      font-weight: 500;
    }

    &--active &__index {
      background: $stepper-color-index;
    }

    &--disabled &__index {
      background: mdc-theme-prop-value(text-disabled-on-light);
    }

    &--completed &__index {
      background: $stepper_color_success;
    }

    &--error {
      color: $stepper-color-error;
    }

    &--error &__index {
      background: transparent;
    }

    &--error &__icon {
      width: $stepper-circle-size;
      height: $stepper-circle-size;

      svg {
        fill: $stepper-color-error;
      }
    }

    &__index {
      @include mdc-typography(caption);

      background: mdc-theme-prop-value(text-hint-on-light);
      color: mdc-theme-prop-value(text-primary-on-dark);
      width: $stepper-circle-size;
      height: $stepper-circle-size;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 8px;

      svg {
        fill: mdc-theme-prop-value(text-primary-on-dark);
      }
    }

    &__title {
      @include mdc-typography(subtitle1);
      line-height: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__title > &__description {
      @include mdc-typography(caption);
      color: mdc-theme-prop-value(text-secondary-on-light);
    }

    &--error &__title > &__description {
      color: $stepper-color-error;
    }
  }

  &--horizontal {
    flex-direction: column;

    #{$stepper}__header {
      flex-direction: row;
      height: $stepper-header-height-horizontal;
    }

    #{$stepper}__head {
      height: $stepper-header-height-horizontal;
    }

    #{$stepper}__connector {
      border-top-width: 1px;
      border-top-style: solid;
      min-width: $stepper-connector-min-size;
      margin: 0 -($stepper-padding / 2);
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;

    #{$stepper}__header {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }

    #{$stepper}__head {
      height: $stepper-header-height-vertical;

      &__index {
        margin-right: $stepper-padding / 2;
      }
    }

    #{$stepper}__section {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      margin-left: $stepper-padding;
    }

    #{$stepper}__connector {
      border-left-width: 1px;
      border-left-style: solid;
      min-height: $stepper-connector-min-size;
      margin: -($stepper-padding / 2) ($stepper-padding / 2);
      height: auto;
    }
  }
}
